<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-893499-17"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-893499-17');
	</script>

	<title>ArtMediation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="description" content="A boutique mediation practice offering specialist resolution services for disputes">
	<meta name="author" content="Art Mediation">

	<base href="/">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

	<link href="assets/css/theme-style.min.css" rel="stylesheet">

	<link href="assets/css/colour-teal.min.css" id="colour-scheme" rel="stylesheet" />

	<link href="assets/css/custom-style.css" rel="stylesheet">

	<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
	<link href="assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	<link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">
	<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Rambla:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700' rel='stylesheet' type='text/css'>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="page page-index-static navbar-layout-default">
	<a id="top" href="#content" class="sr-only">Skip to content</a>

	<div id="header">
		<div data-toggle="sticky">
			<div class="header">
				<div class="header-inner container">
					<div class="header-brand">
						<a class="header-brand-text" href="/" title="Home">
							<h1 class="h2">
								<span class="header-brand-text-alt">Art</span>Mediation<span class="header-brand-text-alt"></span>
							</h1>
						</a>
					</div>
					<div class="header-block order-12">
						<a href="{{ page.url }}#top" class="btn btn-link btn-icon header-btn float-right d-lg-none" data-toggle="off-canvas" data-target=".navbar-main" data-settings='{"cloneTarget":true, "targetClassExtras": "navbar-offcanvas"}'> <i class="fa fa-bars"></i> </a>
					</div>

					<div class="navbar navbar-expand-md navbar-static-top">
						<div class="navbar-main collapse">
							<ul class="nav navbar-nav navbar-nav-stretch float-lg-right dropdown-effect-fade">
								<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
								<li class="nav-item"><a class="nav-link" href="mediators">Our Mediators</a></li>
								<li class="nav-item"><a class="nav-link" href="mediation-agreement">Mediation Agreement</a></li>
								<li class="nav-item"><a class="nav-link" href="contact">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ content }}

	<footer id="footer" class="p-0">
		<div id="contact" class="container pt-6 pb-5">
			<div class="row">
				<div class="col-md-4">
					<h4 class="text-uppercase text-white">
						About Us
					</h4>
					<p>We are a boutique mediation practice offering specialist resolution services for disputes</p>
				</div>

				<div class="col-md-4 offset-md-4">
					<h4 class="text-uppercase text-white">
						Contact Us
					</h4>

					<address>
						<ul class="list-unstyled">
							<li>
								<abbr title="Phone"><i class="fa fa-phone fa-fw"></i></abbr>
								+44 7967 326992
							</li>
							<li>
								<abbr title="Email"><i class="fa fa-envelope fa-fw"></i></abbr>
								info@artmediation.co.uk
							</li>
						</ul>
					</address>
				</div>
			</div>
		</div>

		<hr class="my-0 hr-blank op-2" />

		<div class="bg-inverse-dark text-sm py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p class="mb-0">Copyright {{ "now" | date: "%Y" }} &copy; ArtMediation</p>
					</div>
				</div>

				<a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
			</div>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="assets/js/custom-script.js"></script>
	<script src="assets/js/script.min.js"></script>
</body>
</html>
